extends layout

block content
  center 
    h1 Welcome #{Name} to VPACT, Your Account has been successfully activated
  center
    h1 ***************************
      center You are amazing
      center
        | Now you have power in your hands